.swap-meet {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    background-image: url("https://img.freepik.com/free-vector/abstract-low-poly-design-with-connecting-lines-dots_1048-9060.jpg?size=626&ext=jpg&ga=GA1.1.1715257389.1688125620&semt=ais");
    background-size: cover; /* adjust the value to 'contain' */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  
  
  .ptitle {
    font-size: 44px;
    margin-bottom: 10px;
    margin-top:100px;
      
  }

  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .coin-game {
    margin: 20px auto;
  }
  
  .coin-game h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .coin-button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #f9c642;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .coin-button:hover {
    background-color: #f7b502;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .leaderboard {
    margin-top: 40px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .clear-leaderboard {
    background-color: #f44336;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .clear-leaderboard:hover {
    background-color: #d32f2f;
  }
  
  .flip-move {
    margin-top: 20px;
  }
  
  .leaderboard-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .leaderboard-item:hover {
    background-color: #e0e0e0;
  }
  
  .user-rank {
    margin-right: 10px;
    font-weight: bold;
    color: #000;
  }
  
  .user-name {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .score {
    font-weight: bold;
  }
  
  .user {
    background-color: #f9c642;
  }
  
  .you {
    background-color: #f44336;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 20px;
    }
  
    h3 {
      font-size: 16px;
    }
  
    .coin-game h2 {
      font-size: 18px;
    }
  
    .coin-button {
      font-size: 20px;
      padding: 8px 16px;
    }
  
    .error-message {
      font-size: 12px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    .clear-leaderboard {
      font-size: 12px;
      padding: 3px 6px;
    }
  
    .leaderboard-item {
      padding: 8px;
    }
  
    .user-rank {
      margin-right: 8px;
    }
  
    .user-name {
      font-size: 14px;
    }
  }
  