/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Keyframes for pulse animation */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Styles for the profile container */
.profile-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9; 
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out;
  margin-top: 105px;
}

/* Styles when hovering over the profile container */
.profile-container:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
}

/* Styles for the profile container's heading */
.profile-container h2 {
  text-align: center;
  color: #333;
  font-size: 28px; /* Slightly increase the font size */
  margin-bottom: 30px; /* Increase the margin for better spacing */
}

/* Styles for the profile image */
.profile-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  animation: rotateImage 5s linear infinite;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the image */
}


.form-group {
  margin-bottom: 20px; 
}

.form-group label {
  display: block;
  color: #777; 
  margin-bottom: 10px; 
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ddd;
  border-radius: 6px; 
  color: #333;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0px 0px 12px rgba(0, 119, 255, 0.3);
}


.form-group textarea {
  resize: vertical;
  min-height: 120px; 
}


.update-btn {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px; 
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  margin-top: 30px; 
  font-size: 18px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Styles when hovering over the update button */
.update-btn:hover {
  background-color: #0056b3;
  animation: pulse 1s ease-in-out infinite;
}
