/* HottestCollections.modules.css */

/* Styles for the container */
.hottest-collection {
  max-width: 100%;
  margin: 0 auto;
}

/* Styles for the heading */
.hottest-collection h2 {
  font-size: 48px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}



/* Styles for the image */
.carousel-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 1);
}



.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
/* Styles for the collection name */
.carousel-item .collection-name {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}



/* Add media queries for responsiveness */
@media screen and (max-width: 1200px) {
  .hottest-collection h2 {
    font-size: 40px;
  }
  .carousel-item img {
    height: 450px;
  }
  .carousel-item .collection-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hottest-collection h2 {
    font-size: 32px;
  }
  .carousel-item img {
    height: 350px;
  }
  .carousel-item .collection-name {
    font-size: 18px;
  }
  .hottest-collection {
    max-width: 300px;
    margin: 0 auto;
  }
}

/* Add a call-to-action button for the carousel items */
.carousel-item .cta-button {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #4e4376;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.carousel-item .cta-button:hover {
  background-color: #4e4376;
  color: #fff;
}

/* Add a subtle zoom-in animation on hover for the images */
.carousel-item img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Mobile Responsiveness */
@media screen and (max-width: 480px) {
  .hottest-collection h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .carousel-item img {
    height: 300px;
  }
  .carousel-item .collection-name {
    font-size: 16px;
  }
}
