

.myCollectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width:100%;
  background-image: url("https://img.freepik.com/free-vector/geometric-background-with-polygonal-lines_1017-6448.jpg?size=626&ext=jpg&ga=GA1.2.1715257389.1688125620&semt=ais"); /* replace 'your_image_url.jpg' with the actual URL of the image */
  background-size: cover; /* this will make the image cover the whole area of the element */
  background-position: center; /* this will center the image */
  background-repeat: no-repeat; /* this will prevent the image from repeating */
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.4), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom:45px;
  margin-top:70px;
}
.myCollectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
  background-image: url("https://img.freepik.com/free-vector/realistic-white-golden-geometric-background_79603-2032.jpg?size=626&ext=jpg&ga=GA1.2.1715257389.1688125620&semt=ais"); /* replace 'your_image_url.jpg' with the actual URL of the image */
  background-size: cover; /* this will make the image cover the whole area of the element */
  background-position: center; /* this will center the image */
  background-repeat: no-repeat; /* this will prevent the image from repeating */
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.4), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom:45px;
  margin-top:70px;
}


.topDivider {
  position: relative;
  height: 325px;
  width: 1890px;  
  background: 
    radial-gradient(circle at 50% 0, transparent, #000 75%),
    linear-gradient(-60deg, #0062ff, #33CCFF, #0062ff, #33CCFF);
  animation: gradientSlide 3s linear infinite;
  filter: drop-shadow(0 0 10px #33CCFF);
  margin-top:70px;
  
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 320px;
  bottom: 0;
}

.wave path {
  animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform-origin: center bottom;
}

@keyframes wave {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100px, 0, 0);
  }
}



.topDivider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  z-index: 1;
}

.topDivider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  z-index: 2;
}


.myCollectionsTitle {
  font-size: 8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.2); 
  margin-left:40px;
  textAlign: 'center';

  background: linear-gradient(to right, #0072ff, #00c6ff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
 

  box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;

  animation: titleAnimation 3s ease-in-out infinite;
}

.myCollectionsTitle:hover {
  box-shadow: 15px 15px 40px #00FFFF; 
}


@keyframes titleAnimation {
  0%, 100% {
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
  }
  50% {
    text-shadow: 3px 3px 15px #00FFFF; 
    box-shadow: 15px 15px 40px #00FFFF; 
  }
}




.myCollectionsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  width: 100%;
  margin-left:30px;
  transition: all 0.3s ease-in-out;
}




.collectionCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.8);
  cursor: pointer;
  margin-bottom:30px;
  transition: transform 0.3s, box-shadow 0.3s; 
  
}

@media only screen and (max-width: 768px) {
  .collectionCard {
    padding: 0em;
    margin-right:50px;
    margin-left:0px;  /* Added this line */
    width:250px;
  }
}

@media only screen and (max-width: 480px) {
  .collectionCard {
    padding: 0.5em;
    margin-right:0px;  /* Added this line */
    margin-left:0px;   /* Added this line */
  }
}


.collectionCard:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}


.collectionDescription {
  color: #666;
  font-size: 0.9em;
  max-height: 100px; 
  overflow-y: auto; 
  transition: color 0.3s ease-in-out;
  margin-top:30px;
}

.collectionID {
  font-size: 1.3em;
  color: blue;
  margin: 1em 0;
  letter-spacing: 2px;
  font-weight: bold; 
  transition: color 0.3s ease-in-out; 

  display: inline-block;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}



.collectionName {
  font-size: 1.3em;
  color: #333;
  margin: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease-in-out; 
  
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  }

.collectionLogo {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease-in-out; 
  margin-bottom:10px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);


}

.collectionBanner {
  display: flex;

  height: 100px; 
  width: 100%;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);

  border-radius: 10px;
  transition: all 0.3s ease-in-out; 
}

.collectionButton {
  margin-top: 1em;
  padding: 1em;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.collectionButton:hover {
  background-color: #0056b3;
}


@media only screen and (max-width: 480px) {
  .myCollectionsContainer {
    padding: 0.5em;
    width:100%;


  }

  .myCollectionsTitle {
    font-size: 1.5em;
  }

  .collectionCard {
    padding: 0.5em;
    
  }

  .collectionDescription {
    font-size: 0.8em;
    max-height: 60px;
  }

  .collectionID,
  .collectionName {
    font-size: 0.8em;
  }

  .collectionLogo {
    margin-bottom: 3px;
  }

  .collectionBanner {
    height: 60px;
  }

  .collectionButton {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
  }
}


.paginationContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.pageButton {
  font-size: 1em;
  color: #333;
  background-color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.pageButton:hover {
  background-color: grey;
}

.currentPageButton {
  background-color: blue;
  color: #fff;
}


.searchContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.searchInput {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0.5em;
  
}

.searchInput::placeholder {
  color: #999;
}



.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.searchInput {
  width: 200px;
  height: 36px;
  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.searchInput:hover,
.searchInput:focus {
  outline: none;
  border-color: #999;
}



@media only screen and (max-width: 768px) {
  .myCollectionsContainer {
    width: 300px;
    margin-top:30px;
    
  }


 .topDivider {
  width: 400px;
  margin-top: 0px;

 }
  .myCollectionsTitle {
    font-size: 3.5em;
    margin-right:25px;
  }

  .collectionCard {
    padding: 0em;
    margin-right:50px;
    width:250px;
  }

  .collectionDescription {
    font-size: 0.9em;
    max-height: none;
  }

  .collectionID,
  .collectionName {
    font-size: 1em;
  }

  .collectionLogo {
    margin-bottom: 5px;
  }

  .collectionBanner {
    height: 80px;
  }

  .collectionButton {
    margin-top: 0.5em;
    padding: 0.8em;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 480px) {
  .myCollectionsContainer {
    padding: 3em;
  }

  .myCollectionsTitle {
    font-size: 2.5em;
  }

  .collectionCard {
    padding: 0.5em;
  }

  .collectionDescription {
    font-size: 0.8em;
    max-height: 60px;
  }

  .collectionID,
  .collectionName {
    font-size: 0.8em;
  }

  .collectionLogo {
    margin-bottom: 3px;
  }

  .collectionBanner {
    height: 60px;
  }

  .collectionButton {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
  }
}