

/* Accordion */
.myAccordion {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  overflow: hidden; /* For ripple effect */
  borderRadius:'5px',

 
}


.myAccordion:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.myAccordionDetails {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out; /* Transition */
  
}

/* Grid for Collections */
.myCollectionsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); /* account for increased width of cards and gaps between them */
  grid-gap: 30px; /* Increased to match the card's margin */
  justify-items: center;
  align-items: start; /* added to line up items to the start */
  padding: 40px;
  
  width: 100%;
}


.collectionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 45px; /* Increased padding to make the card larger */
  margin: 15px; /* Increased margin to ensure cards have ample space between them */
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 350px; /* This will control the max width of the card */
}

.collectionCard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  z-index: 1;
  transition: all .5s ease-in-out;
  opacity: 0;
  transform: scale(0.6) skew(-30deg);
}

.collectionCard:hover:before {
  opacity: 1;
  transform: scale(2) skew(-30deg);
}

.collectionCard img, .collectionCard button {
  position: relative;
  z-index: 10;
}

.collectionCard:hover {
  transform: scale(1.03) translateY(-5px); /* Slightly increased scale effect */
}

.collectionCard img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom:30px;
}

.collectionCard img:hover {
  transform: scale(1.08); /* Increased scale effect */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  
}





.collectionButton {
  color: #fff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.collectionButton:hover {
  background: linear-gradient(to right, #33AEFF, #0062E6);
  transform: translateY(-3px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.collectionButton:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}



/* Pagination and Search */

/* Pagination and Search */
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap; 
  gap: 10px;
}

.pageButton, .firstPageButton, .lastPageButton, .nextPageButton, .previousPageButton {
  margin: 5px 10px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none; 
  box-shadow: 0 3px 15px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  font-family: 'Helvetica', sans-serif;
  background-color: #fff;
  cursor: pointer;
  font-size: 1em;
  color: #007bff;
  text-decoration: none;
}

.pageButton:hover,
.firstPageButton:hover,
.lastPageButton:hover,
.nextPageButton:hover,
.previousPageButton:hover {
  background-color: #007bff;
  color: #fff; 
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}

.pageButton:active,
.firstPageButton:active,
.lastPageButton:active,
.nextPageButton:active,
.previousPageButton:active {
  transform: translateY(1px);
}

.currentPageButton {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.currentPageButton:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}
.searchInput {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: black;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.searchInput:focus {
  border-color: #5a9;
  outline: 0;
  box-shadow: 0 0 10px rgba(90, 160, 150, .6);
}

/* Custom dropdown arrow */
.searchInput::-ms-expand {
  display: none;
}

.searchInput::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #ccc;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Custom scrollbar for dropdown options */
.searchInput option {
  background: #f6f6f6;
}

.searchInput option:hover {
  background: #b3d4fc;
}

/* When select is focused */
.searchInput:focus::after {
  transform: rotate(180deg);
  background: #5a9;
}

/* Responsive styles for smaller screens */

@media screen and (max-width: 600px) {
  .pageButton, .firstPageButton, .lastPageButton, .nextPageButton, .previousPageButton {
    padding: 8px 16px;
    font-size: 0.9em;
  }

  .searchInput {
    width: 100%; /* Take the full width of the container on smaller screens */
    margin: 0; /* Remove margin to avoid overflow */
    padding: 15px 16px; /* Reduced padding for smaller screens */
  }
}



/* Responsive */
@media screen and (max-width: 768px) {
  .myCollectionsContainer {
    flex-direction: column;
    padding: 20px;
    width:100%
  }

  .myCollectionsTitle {
    font-size: 3.5em;
    margin-right:25px;
  }

  .myCollectionsList {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    grid-gap: 20px;  
    width:100%;
  }

.searchInput {
    width: 80%; /* Take the full width of the container on smaller screens */
    margin: 0; /* Remove margin to avoid overflow */
    padding: 25px 16px;
    margin-left:10px; /* Reduced padding for smaller screens */
  }


  .collectionCard {
    width: 350px;
    padding: 20px; /* Reduced padding for small screens */

  }

  .searchInput {
    width: 100%; /* Full width on small screens */
  }
}
.collectionCategory {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
  z-index: 10;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.collectionCategory:hover {
  background-color: #666666;
  color: #f5f5f5;
}




.myCollectionsTitle {
  font-size: 7.5vw; /* adjust as needed */
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.2); 
  margin-left:40px;
  text-align: center; /* Corrected 'textAlign' to 'text-align'*/

  background: linear-gradient(to right, #2b5876, #4e4376, #ef5350, #202020); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

  box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;

  animation: titleAnimation 3s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  .myCollectionsTitle {
    font-size: 7.5vw;
  }

  
}

.myCollectionsTitle:hover {
  box-shadow: 15px 15px 40px #00FFFF; 
}


@keyframes titleAnimation {
  0%, 100% {
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
  }
  50% {
    text-shadow: 3px 3px 15px #00FFFF; 
    box-shadow: 15px 15px 40px #00FFFF; 
  }
}


/* Collection ID */
.collectionID {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.7;
  z-index: 10;

}

/* Collection Name */
.collectionName {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;

}

/* Collection Logo */
.collectionLogo {
  width: 300px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.collectionLogo:hover {
  transform: scale(1.1);
}

/* Collection Banner */
.collectionBanner {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.collectionDescription {
  font-size: 0.95em;
  color: #666;
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.5;
  font-style: italic;
  z-index: 10;
  height: 200px; /* Or the height you prefer */
  overflow: auto;
  padding-right: 5px; /* Adds some space for the scrollbar */
  overflow: break-word; /* Breaks long words onto the next line */
}

/* Responsive styles */
@media screen and (max-width: 480px) {
  .collectionDescription {
    font-size: 0.85em; /* Adjust font-size for mobile */
    padding: 10px; /* Adjust padding for mobile */
  }
}





.searchInput {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.searchInput:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 175, 233, .6);
}

.searchInput::-ms-expand {
    background-color: transparent;
    border: 0;
}


.getall {
  width:100%;
  background-image: url("https://img.freepik.com/free-vector/realistic-white-golden-geometric-background_79603-2032.jpg?size=626&ext=jpg&ga=GA1.2.1715257389.1688125620&semt=ais"); /* replace 'your_image_url.jpg' with the actual URL of the image */
  background-size: contain; /* this will make the image cover the whole area of the element */
  background-position: center; /* this will center the image */
  background-repeat: repeat; /* this will prevent the image from repeating */
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.4), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-top:30px;

}