
/* Container styles */
.myCollectionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;  /* ensure no padding at the top */
  background-color: #f5f5f5;
  border-radius: 10px;
  transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
  margin-top:40px;
  width:1900px;
}
@keyframes gradientSlide {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.topDivider {
  position: relative;
  height: 125px;
  width: 100%;  /* Ensure the divider spans the entire width */
  background: 
    radial-gradient(circle at 50% 0, transparent, #000 75%),
    linear-gradient(-60deg, #0062ff, #33CCFF, #0062ff, #33CCFF);
  animation: gradientSlide 3s linear infinite;
  filter: drop-shadow(0 0 10px #33CCFF);
  margin-top:0px;
}


.topDivider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  z-index: 1;
}

.topDivider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  z-index: 2;
}

/* Collection title styles */
.myCollectionsTitle {
  font-size: 8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Enhanced smooth transition */
  text-shadow: 3px 3px 0 rgba(0,0,0,0.2); /* Adds a shadow to the text */
  /* Gradient color */
  background: linear-gradient(to right, #0072ff, #00c6ff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Use gradient as text color */
  /* 3D transformation effect */
  transform: perspective(600px) rotateX(20deg);
  /* Shadow effect */
  box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  /* Animation */
  animation: titleAnimation 3s ease-in-out infinite;
}

/* Hover effect */
.myCollectionsTitle:hover {
  box-shadow: 15px 15px 40px #00FFFF; /* Neon blue shadow effect */
  transform: perspective(600px) rotateX(25deg); /* Enhanced 3D transformation effect */
}

/* Keyframes for animation */
@keyframes titleAnimation {
  0%, 100% {
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    transform: perspective(600px) rotateX(20deg);
  }
  50% {
    text-shadow: 3px 3px 15px #00FFFF; /* Neon blue text shadow during animation */
    box-shadow: 15px 15px 40px #00FFFF; /* Neon blue box shadow during animation */
    transform: perspective(600px) rotateX(25deg); /* Temporarily enhance the 3D effect in the animation */
  }
}



/* Grid for the collection list */
.myCollectionsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  width: 100%;
  margin-left:30px;
  transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
}



/* CollectionCard styles */
.collectionCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.8);
  cursor: pointer;
  margin-bottom:30px;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and box-shadow */
}

.collectionCard:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

/* Limit the height of descriptions and make them scrollable */
.collectionDescription {
  color: #666;
  font-size: 0.9em;
  max-height: 100px; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  transition: color 0.3s ease-in-out; /* Smooth color transition */
  margin-top:30px;
}

.collectionID {
  font-size: 1.3em;
  color: blue;
  margin: 1em 0;
  letter-spacing: 2px;
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease-in-out; /* Smooth color transition */
  /* Additional Styles */
  display: inline-block;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}



.collectionName {
  font-size: 1.3em;
  color: #333;
  margin: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease-in-out; /* Smooth color transition /
  / Additional Styles */
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  }

.collectionLogo {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
  margin-bottom:10px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);


}

.collectionBanner {
  display: flex;

  height: 100px; /* set a fixed height */
  width: 100%;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);

  border-radius: 10px;
  transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
}

.collectionButton {
  margin-top: 1em;
  padding: 1em;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

.collectionButton:hover {
  background-color: #0056b3;
}

/* Media queries for further mobile responsiveness */
@media only screen and (max-width: 480px) {
  .myCollectionsContainer {
    padding: 0.5em;
  }

  .myCollectionsTitle {
    font-size: 1.5em;
  }

  .collectionCard {
    padding: 0.5em;
  }

  .collectionDescription {
    font-size: 0.8em;
    max-height: 60px;
  }

  .collectionID,
  .collectionName {
    font-size: 0.8em;
  }

  .collectionLogo {
    margin-bottom: 3px;
  }

  .collectionBanner {
    height: 60px;
  }

  .collectionButton {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
  }
}

/* Page numbers */
.paginationContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.pageButton {
  font-size: 1em;
  color: #333;
  background-color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.pageButton:hover {
  background-color: grey;
}

.currentPageButton {
  background-color: blue;
  color: #fff;
}

/* Search container */
.searchContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.searchInput {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0.5em;
  
}

.searchInput::placeholder {
  color: #999;
}


/* Add these styles to the existing CSS file (GetAllCollections.module.css) */

/* Search container */
.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Search input */
.searchInput {
  width: 200px;
  height: 36px;
  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Optional: Add hover and focus styles for the search input */
.searchInput:hover,
.searchInput:focus {
  outline: none;
  border-color: #999;
}


/* Media queries for further mobile responsiveness */
@media only screen and (max-width: 768px) {
  .myCollectionsContainer {
    width: 420px;
  }


 .topDivider {
  width: 520px;
  margin-top: 0px;

 }
  .myCollectionsTitle {
    font-size: 3.5em;
  }

  .collectionCard {
    padding: 1em;
  }

  .collectionDescription {
    font-size: 0.9em;
    max-height: none;
  }

  .collectionID,
  .collectionName {
    font-size: 1em;
  }

  .collectionLogo {
    margin-bottom: 5px;
  }

  .collectionBanner {
    height: 80px;
  }

  .collectionButton {
    margin-top: 0.5em;
    padding: 0.8em;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 480px) {
  .myCollectionsContainer {
    padding: 0.5em;
  }

  .myCollectionsTitle {
    font-size: 2.5em;
  }

  .collectionCard {
    padding: 0.5em;
  }

  .collectionDescription {
    font-size: 0.8em;
    max-height: 60px;
  }

  .collectionID,
  .collectionName {
    font-size: 0.8em;
  }

  .collectionLogo {
    margin-bottom: 3px;
  }

  .collectionBanner {
    height: 60px;
  }

  .collectionButton {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
  }
}