/* Normalize default styles */
.ListAllTokens {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* The main container */
.ListAllTokens {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  background-image: url("https://img.freepik.com/free-vector/white-background-with-hexagonal-line-pattern-design_1017-28442.jpg?size=626&ext=jpg&ga=GA1.1.1715257389.1688125620&semt=ais"); /* replace 'your_image_url.jpg' with the actual URL of the image */
  background-size: cover; /* this will make the image cover the whole area of the element */
  background-position: center; /* this will center the image */
  background-repeat: no-repeat; /* this will prevent the image from repeating */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}


/* The title */
.ListAllTokens h2 {
  margin-bottom: 20px;
  color: #212529;
  text-align: center;
}

/* The form */
.ListAllTokens form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

/* The input fields */
.ListAllTokens input {
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

/* The submit button */
.ListAllTokens button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button disabled state */
.ListAllTokens button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Button hover state */
.ListAllTokens button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* The error message */
.ListAllTokens p {
  margin-top: 20px;
  text-align: center;
}

/* Different colors for different types of messages */
.ListAllTokens p[color='red'] {
  color: #dc3545;
}

.ListAllTokens p[color='green'] {
  color: #28a745;
}
