.collectionsContainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 15px;
  background-color: #f0f0f0;
  background-image: url("https://img.freepik.com/free-vector/digital-background-vector-blue-color-with-cube-patterns_53876-126702.jpg?size=626&ext=jpg&ga=GA1.1.1715257389.1688125620&semt=ais"); /* replace 'your_image_url.jpg' with the actual URL of the image */
  background-size: cover; /* this will make the image cover the whole area of the element */
  background-position: center; /* this will center the image */
  background-repeat: no-repeat; /* this will prevent the image from repeating */
  box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.5), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);

}

.collectionTools {
  background-color: #f8f9fa;
  background-image: url("https://img.freepik.com/free-vector/realistic-white-golden-geometric-background_79603-2032.jpg?size=626&ext=jpg&ga=GA1.2.1715257389.1688125620&semt=ais"); 
  background-size: cover; /* this will make the image cover the whole area of the element */
  background-position: center; /* this will center the image */
  background-repeat: no-repeat; /* this will prevent the image from repeating */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 60px;
}

.collectionTools h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 50px;
}


.background {
  background-color: #f2f2f2;
  padding: 20px;
  
}

.title {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
}

.title:hover {
  transform: perspective(500px) rotateX(0deg) scale(1.1);
}




.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.collectionCard {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.8);
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  background: linear-gradient(135deg, #f3f1f5 0%, #ffffff 100%);
  justify-items: flex;


}

.collection:hover {
  transform: scale(1.02);
  cursor: pointer;
  background: linear-gradient(135deg, #f6f0fa 0%, #e1e1e6 100%);
}

.collectionName {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5em;
  font-weight: bold;
  color: #444;
}

.collectionLogo {
  width: 100%;
  height: 350px;
  display: block;
  margin: 10px auto;
  border-radius: 55px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.8);

} 

.collectionBanner {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
  transition: all 0.3s ease-in-out; 
}

.collectionDescription {
  margin-top: 20px;
  color: #666;
  line-height: 1.5em;
  font-size: 0.9em;
  max-height: 200px;
  overflow-y: auto;
}


.collectionButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  background: #888;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.collectionButton:hover {
  background: #666;
  cursor: pointer;
}

.collectionID {
  margin-top: 20px;
  color: #666;
  font-size: 1.5rem;
}


@media (max-width: 800px) {

  .collectionsContainer {
   
    margin-top: 0px;
    
  }

  .collectionLogo {
    width: 100%;
    height: 300px;
    display: block;
    margin: 10px auto;
    border-radius: 25px;
      box-shadow: 0px 5px 15px rgba(0,0,0,0.8);
  
  } 

  .collectionCard {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.8);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    background: linear-gradient(135deg, #f3f1f5 0%, #ffffff 100%);
    justify-items: flex;
  
  
  }
  
  .collectionName {
    font-size: 2em;
  }

  .collectionID {
    font-size: 1rem;
  }

  .collectionDescription {
    font-size: 0.8em;
  }

  .cardsContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 500px) {
  .collectionName {
    font-size: 1.5em;
  }

  .Title {
    font-size: 1.5em;
  }

  .collectionID {
    font-size: 0.8rem;
  }

  .collectionDescription {
    font-size: 0.7em;
  }

  .cardsContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
